*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Mono";
  src: url(./SpaceMono-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  font-style: italic;
  src: url(./SpaceMono-Italic.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  font-weight: bold;
  src: url(./SpaceMono-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  font-style: italic;
  font-weight: bold;
  src: url(./SpaceMono-BoldItalic.ttf);
  font-display: swap;
}

@keyframes bounce-lr {
  0%,
  100% {
    transform: scale(0.9, 1.1) translateX(0.2em);
  }
  50% {
    transform: scale(1.1, 0.9) translateX(-0.2em);
  }
}

:root {
  --text-color: hsl(253, 11%, 13%);
  --background-color: hsl(60, 4%, 97%);
  --border-color: hsla(253, 11%, 13%, 0.3);
  --border: 0.15rem solid var(--border-color);
  --box-shadow: 0.5rem 0.5rem 0 var(--border-color);
  --link-color: blue;
  --link-color-visited: hsl(240, 80%, 60%);
  --highlight-color: hsl(47, 100%, 90%);
  --highlight-color-2: hsl(47, 100%, 95%);
  --highlight-color-alt: hsl(108, 100%, 90%);
  --highlight-color-alt-2: hsl(249, 100%, 95%);
  font-family: "Space Mono", monospace;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: no-contextual;
  font-size: 17px;
  line-height: 1.6;
  color: var(--text-color);
  background: var(--background-color);
  --cm-content-margin-top: 1em;
  --cm-content-margin-right: 1em;
  --cm-content-margin-bottom: 1em;
  --cm-content-margin-left: 1em;
  --cm-font-family: "Space Mono";
  --cm-line-height: 2.6;
  --cm-scene-background: transparent;
  --cm-comment-color: #007400;
  --cm-alternativeComment-color: #c0c0c0;
  --cm-string-color: #c41a16;
  --cm-declaration-color: #5c2699;
  --cm-declaration-weight: normal;
  --cm-keyword-color: #aa0d91;
  --cm-keyword-weight: normal;
  --cm-invocation-color: #1c00cf;
  --cm-global-color: #007400;
  --cm-decoration-line-background-background: var(--highlight-color);
  --cm-decoration-text-background-background: var(--highlight-color);
}

.cm-animation [data-cm-gutter-decoration-text="➡️"] span {
  display: inline-block;
  animation: 1000ms ease-in-out 0s infinite alternate both running bounce-lr;
}

:target {
  background: var(--highlight-color-2);
  box-shadow: 0 0 2px var(--highlight-color-2);
}

code {
  font: inherit;
  font-style: italic;
}

mark {
  background-color: var(--highlight-color);
}

pre code {
  font-style: unset;
}

@media (max-width: 1000px) {
  :root {
    font-size: 15px;
  }
}

body {
  margin: 1em;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  &::before {
    content: "<";
    color: var(--border-color);
    margin-right: 0.125em;
  }
  &::after {
    content: "/>";
    color: var(--border-color);
    margin-left: 0.125em;
  }
}

@media (width < 400px) {
  h2,
  h3 {
    &::before,
    &::after {
      content: "";
    }
  }
}

h1 {
  span,
  &::before {
    font-size: 3em;
  }
  font-size: 3em;
  line-height: 1.3;
  margin-top: 0;
}

@media (width < 850px) {
  h1 {
    span,
    &::before {
      font-size: 2em;
    }
    font-size: 2.5em;
  }
}

@media (width < 650px) {
  h1 {
    font-size: 2em;
  }
}

@media (width < 400px) {
  h1 {
    font-size: 1.75em;
  }
}

h2 {
  font-size: 2.4em;
  line-height: 1.2;
  margin-top: 4rem;
  @media (width < 480px) {
    font-size: 1.9em;
  }
}

h3 {
  font-size: 1.5em;
  margin-top: 3rem;
  @media (width < 480px) {
    font-size: 1.25em;
  }
}

h4 {
  font-size: 1.2em;
  margin-top: 3rem;
  @media (width < 480px) {
    font-size: 1.1em;
  }
}

h5 {
  font-size: 1em;
}

header p {
  font-size: 1.5em;
  font-style: italic;
}

header code {
  background: var(--highlight-color-alt);
  display: inline-block;
  font-style: normal;
  padding: 0.125em 0.25em;
}

header code::before {
  content: "$ ";
  font-weight: bold;
}

summary {
  font-weight: bold;
}

summary:focus {
  outline: 2px solid var(--link-color);
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cm-highlight {
  border: var(--border);
  margin: 1em 0 1.5em 0; /* 1.5em on bottom for visual shadow compensation */
  box-shadow: var(--box-shadow);
  max-width: 100%;
  width: 100% !important;
  overflow: auto;
}

/* Specifically "unveil the horror" */
details summary + .cm-highlight {
  border: none;
  padding: 0;
  margin-bottom: 0;
  box-shadow: none;
}

/* Hire me! */
aside {
  border: var(--border);
  background-color: var(--highlight-color-alt-2);
  padding: 0 1em;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0 2em;
  h2 {
    font-size: 1.5em;
    grid-column: 1;
    margin: 1em 0 0 0;
  }
  div {
    grid-column: 1;
  }
  img {
    grid-column: 2;
    grid-row: 1 / 3;
    max-width: 256px;
    margin: 1em 0;
    border: var(--border);
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 700px) {
  aside {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  h2,
  div,
  img {
    grid-column: 1 !important;
    grid-row: auto !important;
  }
}

aside.sidebar {
  display: block;
  float: right;
  width: 40%;
  margin: 1em 0 1em 3em;
  background: var(--highlight-color-2);
  h3 {
    margin-top: 0.5em;
  }
}

@media (max-width: 600px) {
  aside.sidebar {
    width: auto;
    float: none;
    margin: 0;
  }
}

.tutorial {
  position: relative;
  width: min-content;
}

.cm-animation {
  --cm-line-numbers-enabled: 1;
  --cm-line-numbers-margin-left: 2.5em;
  --cm-line-numbers-margin-right: 1.5em;
}

code-movie-runtime {
  display: inline-block;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

@media (min-width: 440px) {
  .tutorial-controls {
    position: absolute;
    right: 2.5ch;
    top: 61.5ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1ch;
    z-index: 1;
  }
}

.tutorial-steps {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  li {
    display: none;
  }
  li::before {
    font-weight: bold;
  }
  li:nth-child(1)::before {
    content: "Step 1: ";
  }
  li:nth-child(2)::before {
    content: "Step 2: ";
  }
  li:nth-child(3)::before {
    content: "Step 3: ";
  }
  li:nth-child(4)::before {
    content: "Step 4: ";
  }
  li:nth-child(5)::before {
    content: "Step 5: ";
  }
  li:nth-child(6)::before {
    content: "Step 6: ";
  }
  li:nth-child(7)::before {
    content: "Step 7: ";
  }
  li:nth-child(8)::before {
    content: "Step 8: ";
  }
  li:nth-child(9)::before {
    content: "Step 9: ";
  }
  li:nth-child(10)::before {
    content: "Step 10: ";
  }
  li:nth-child(11)::before {
    content: "Step 11: ";
  }
  li:nth-child(12)::before {
    content: "Step 12: ";
  }
}

code-movie-runtime:has(.frame0) ~ .tutorial-steps li:nth-child(1),
code-movie-runtime:has(.frame1) ~ .tutorial-steps li:nth-child(2),
code-movie-runtime:has(.frame2) ~ .tutorial-steps li:nth-child(3),
code-movie-runtime:has(.frame3) ~ .tutorial-steps li:nth-child(4),
code-movie-runtime:has(.frame4) ~ .tutorial-steps li:nth-child(5),
code-movie-runtime:has(.frame5) ~ .tutorial-steps li:nth-child(6),
code-movie-runtime:has(.frame6) ~ .tutorial-steps li:nth-child(7),
code-movie-runtime:has(.frame7) ~ .tutorial-steps li:nth-child(8),
code-movie-runtime:has(.frame8) ~ .tutorial-steps li:nth-child(9),
code-movie-runtime:has(.frame9) ~ .tutorial-steps li:nth-child(10),
code-movie-runtime:has(.frame10) ~ .tutorial-steps li:nth-child(11),
code-movie-runtime:has(.frame11) ~ .tutorial-steps li:nth-child(12) {
  display: block;
}

details {
  margin: 1em 0 1.5em 0; /* 1.5em on bottom for visual shadow compensation */
  border: var(--border);
  padding: 1em;
  box-shadow: var(--box-shadow);
}

.tableScroller {
  max-width: 100%;
  overflow: auto;
  margin: 1em 0 1.5em 0; /* 1.5em on bottom for visual shadow compensation */
  box-shadow: var(--box-shadow);
}

.tutorialScroller {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: var(--border);
}

th,
td {
  text-align: left;
  border: 0.1em solid var(--border-color);
  padding: 0.2em 0.4em;
}

th {
  background-color: var(--text-color);
  color: var(--background-color);
}

footer {
  padding: 2em;
  margin-top: 2em;
  border-top: var(--border);
  text-align: center;
  p {
    font-size: 0.75em;
  }
}

a,
a:link {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
  transition: color 500ms, outline-color 500ms;
  outline: 2px dotted transparent;
}

a:visited {
  color: var(--link-color-visited);
  text-decoration: underline;
}

a:hover {
  color: var(--link-color);
  text-decoration: none;
}

a:focus {
  color: var(--link-color);
  outline-color: var(--link-color);
}

a:active {
  color: #c00000;
}

a[href^="#"],
a[href^="#"]:link,
a[href^="#"]:visited {
  margin: 0 0.2em;
  color: hsl(108, 60%, 50%);
  font-style: italic;
  font-weight: normal;
}
a[href^="#"]:focus {
  outline-color: currentColor;
}

a[href^="#"].ref,
a[href^="#"].ref:link,
a[href^="#"].ref:visited {
  color: inherit;
  text-decoration-color: hsl(108, 60%, 50%);
}
a[href^="#"]:focus {
  outline-color: currentColor;
}

button {
  font: inherit;
  background-color: var(--background-color);
  border: var(--border);
  font-weight: bold;
  cursor: pointer;
  outline: 2px dotted transparent;
  transition: border-color 500ms, outline-color 500ms;
  padding: 0.125em 0.5em;
}

button:not(:disabled):hover {
  border-color: hsl(108, 60%, 50%);
}

button:not(:disabled):focus {
  outline-color: hsl(108, 60%, 50%);
}

button:disabled {
  color: inherit;
  opacity: 0.5;
}
